@page "/AboutMe"
@using Chirp.Core
@model Chirp.Web.Pages.AboutMeModel
@inject SignInManager<Author> SignInManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity!.IsAuthenticated)
    {
        <div>
            <h2>Personal data</h2>
        </div>
        <form method="post" class="forget-me-form">
            <button class="forget-me-button" asp-page-handler="ForgetMe">Forget Me!
            </button>
        </form>
    }
</div>
