@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="_PostPartial" />

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/Users/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        <button class="follow-button">Follow</button>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    <div>
        Test follow
        <form method="post">
            <button type="submit" asp-page-handler="Follow"/>
        </form>
    </div>
    <div>
        Test unfollow
        <form method="post">
            <button type="submit" asp-page-handler="Unfollow"/>
        </form>
    </div>
</div>

@section scripts {
    <script>
        document.querySelector(".pagination-footer").style.display = "block";
        let ct = Math.ceil(@Model.CheepsCount / 32);
        if (ct === 0) {
            ct = 1;
        }

        const lastPageButton = document.querySelector(".last-page")

        lastPageButton.addEventListener("click", () => {
            document.location = "?page=" + ct;
        })
    </script>
}
