@page "/Users/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>
    <partial name="_PostPartial" />

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/Users/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

@section scripts {
    <script>
        document.querySelector(".pagination-footer").style.display = "block";
        let ct = Math.ceil(@Model.AuthorCheepsCount / 32);
        if (ct === 0) {
            ct = 1;
        }
        const lastPageButton = document.querySelector(".last-page")

        lastPageButton.addEventListener("click", () => {
            document.location = "?page=" + ct;
        })
    </script>
}
