
<div class=navigation>
    @if (User.Identity!.IsAuthenticated)
    {
        <div>
            <a href="/Users/@(User.Identity.Name)">My timeline</a> |
            <a href="/">Public timeline</a> |
            <a href="/Identity/Account/Manage">Manage account</a> |
            <a href="/AboutMe">About me</a> |
            <a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout [@(User.Identity.Name)]</button>
                </form>
            </a>
        </div>
    }
    else
    {
        <div>
            <a href="/">Public timeline</a> |
            <a href="/Identity/Account/Register" ...>Register</a> |
            <a href="/Identity/Account/Login" ...>Login</a>
        </div>
    }
</div>
